<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p><a href="/feed" class="link">Feed</a></p>
    <p><a href="/integrantes" class="link">Integrantes</a></p>
    <p (click)="deslogar()">Deslogar</p>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>PERFIL</ion-title>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <div class="profile-content" *ngIf="userData">
        <h1>INFORMAÇÕES DO USUÁRIO</h1>
      
        <div class="profile-container">
          <div class="info-row">
            <span>
              Nome: {{ userData.nomeCompleto }}
            </span>      
          </div>
    
          <div class="info-row">
            <span>
              E-Mail: {{ userData.email }}
            </span>    
          </div>
    
          <div class="info-row">
            <span>
              CPF/CNPJ: {{ userData.cpf || userData.cnpj }}
            </span>
          </div>
    
          <div class="info-row">
            <span>
              Data de Nascimento: {{ userData.dataNascimento }}
            </span>
          </div>
    
          <div class="info-row">
            <span>
              CEP: {{ userData.cep }}
            </span>   
          </div>
    
          <div class="info-row">
            <span>
              Endereço: {{ userData.endereco }}
            </span>       
          </div>
        </div>
      </div>
    
    </ion-content>
  </ion-header>

  

</div>

