<ion-content [fullscreen]="true">

  <div class="profile-content">
    <div class="profile-image">
      <div class="image">
        <img src="../../../assets/yuyu-hakusho-contos-de-hiei-19957476-190720202000.png" alt="">
      </div>
    </div>
  
    <div class="profile-container">
      <div class="info-row">
        <label for="name">Nome</label>
        <input type="text">        
      </div>

      <div class="info-row">
        <label for="email">E-mail</label>
        <input type="text" disabled>        
      </div>

      <div class="info-row">
        <label for="cpfCnpj">CPF/CNPJ</label>
        <input type="text">
      </div>

      <div class="info-row">
        <label for="cep">CEP</label>
        <input type="text">        
      </div>

      <div class="info-row">
        <label for="endereco">Endereço</label>
        <input type="text">        
      </div>
    </div>
  </div>

</ion-content>
