<ion-content [fullscreen]="true">
    <div class="image">
        <img src="../../../assets/backgrounds/Tela-Login.png" alt="" />
        <div class="container">
            <h1 id="title"><span>PET</span>MATCH</h1>
            <form>
                <input type="text" placeholder="E-Mail" id="input" />
                <input type="text" placeholder="Senha" id="input" />
                <button class="button">LOGIN</button>
            </form>
            <span class="register"
                >Ainda não tem uma conta? <br />
                <span id="link"
                    ><a routerLink="/signup">Cadastre-se aqui!</a></span
                >
            </span>
        </div>
    </div>
</ion-content>
