<ion-content [fullscreen]="true">
  <div class="background">
    <div class="container">
      <h1 id="title"><span>PET</span>MATCH</h1>
      <div class="login-form">
        <input [(ngModel)]="email" type="text" placeholder="E-Mail" id="input" />
        <input [(ngModel)]="password" type="password" placeholder="Senha" id="input" />
        <button class="button" (click)="login()">LOGIN</button>
        <ion-button (click)="googleLogin()">Login with Google</ion-button>
        <p *ngIf="successMessage === true">Logado com sucesso!</p>
      </div>
      <span class="register"
        >Ainda não tem uma conta? <br />
        <span id="link"><a routerLink="/signup">Cadastre-se aqui!</a></span>
      </span>
    </div>
  </div>
</ion-content>
