*{
  font-family: 'Inter';
  font-weight: bold;
}

#title span{
  color: #EAF000;
}
#title {
  text-shadow: #000000d5 1px 0 10px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 32px;
  line-height: 22px;

  color: #FFFFFF;

  

  margin: 0;
}

#container a {
  text-decoration: none;
}

#bg-img {
  width: 100%;
  height: 100%;
}